.meal {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin: 0 1rem;
  border-bottom: 1px solid #ccc;
  transition-property: background-color;
  transition-duration: 300ms;
}

.meal:last-child {
  border-bottom: none;
}

.meal:hover {
  background-color: rgb(247, 247, 247);
}

.meal:hover:first-child {
  background-color: rgb(247, 247, 247);
  border-radius: 12px 12px 0 0;
}

.meal:hover:last-child {
  background-color: rgb(247, 247, 247);
  border-radius: 0 0 12px 12px;
}

.meal:hover img {
  width: 160px;
  height: 160px;
}

.form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #6ba7dc;
  color: #6ba7dc;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.form button:hover,
.form button:active {
  background-color: #6ba7dc;
  color: white;
  border: 2px solid #6ba7dc;
}

.descr {
  display: flex;
}

.info {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.info button {
  border: 1px solid #6ba7dc;
  background-color: white;
  color: #6ba7dc;
  border-radius: 12px;
  padding: 3px 15px;
  margin-top: 10px;
  cursor: pointer;
  font: inherit;
  max-width: 110px;
}

.info button:hover {
  background-color: #6ba7dc;
  color: white;
}

.meal img {
  transition-property: width, height;
  transition-duration: 300ms;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: normal;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #a74949;
  font-size: 1.25rem;
}